In [177]:
import pandas as pd

In [178]:
train = pd.read_csv("/content/Train_data.csv")

In [179]:
train.head()

   Unnamed: 0 code clientType registrationMode  ... netSales  netProfit  gender age
0           1  CBH      Basic          Offline  ...    -29.0       9.57       F  81
1           2  CBH      Basic          Offline  ...    -29.0       9.57       F  71
2           3  CWT      Basic           Online  ...    -49.5      29.70     NaN  32
3           4  CWT      Basic           Online  ...    -39.6      23.76     NaN  32
4           5  CWT      Basic           Online  ...    -19.8      11.88     NaN  41

[5 rows x 12 columns]

In [180]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60326 entries, 0 to 60325
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        60326 non-null  int64
 1   code              60326 non-null  object
 2   clientType        60326 non-null  object
 3   registrationMode  60326 non-null  object
 4   planName          60326 non-null  object
 5   accident          60326 non-null  int64
 6   duration          60326 non-null  int64
 7   country           60326 non-null  object
 8   netSales          60326 non-null  float64
 9   netProfit         60326 non-null  float64
 10  gender            17361 non-null  object
 11  age               60326 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 5.5+ MB

In [181]:
del train['gender']

In [182]:
COLS = ['code','clientType','registrationMode','planName','country',]
FE = []
for col in COLS:
  for mod in train[col].unique():
        FE.append(mod)
        train[mod] = (train[col] == mod).astype(int)

In [183]:
for col in COLS:
  del train[col]

In [184]:
train.head()

   Unnamed: 0  accident  ...  REPUBLIC OF MONTENEGRO  BOSNIA AND HERZEGOVINA
0           1         0  ...                       0                       0
1           2         0  ...                       0                       0
2           3         0  ...                       0                       0
3           4         0  ...                       0                       0
4           5         0  ...                       0                       0

[5 rows x 196 columns]

In [185]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60326 entries, 0 to 60325
Columns: 196 entries, Unnamed: 0 to BOSNIA AND HERZEGOVINA
dtypes: float64(2), int64(194)
memory usage: 90.2 MB

In [186]:
test = pd.read_csv('/content/Test_Data.csv')

In [187]:
test.head()

   Unnamed: 0 code clientType registrationMode  ... netSales  netProfit gender  age
0       42104  EPX      Basic           Online  ...     26.0       0.00    NaN   36
1         869  EPX      Basic           Online  ...     11.0       0.00    NaN   36
2       57025  CWT      Basic           Online  ...     39.6      23.76    NaN   45
3        1148  EPX      Basic           Online  ...     10.0       0.00    NaN   25
4       23356  CWT      Basic           Online  ...     29.7      17.82    NaN   59

[5 rows x 11 columns]

In [188]:
del test['gender']

In [189]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3000 non-null   int64
 1   code              3000 non-null   object
 2   clientType        3000 non-null   object
 3   registrationMode  3000 non-null   object
 4   planName          3000 non-null   object
 5   duration          3000 non-null   int64
 6   country           3000 non-null   object
 7   netSales          3000 non-null   float64
 8   netProfit         3000 non-null   float64
 9   age               3000 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 234.5+ KB

In [190]:
COLS = ['code','clientType','registrationMode','planName','country',]
FE = []
for col in COLS:
  for mod in test[col].unique():
        FE.append(mod)
        test[mod] = (test[col] == mod).astype(int)

In [191]:
for col in COLS:
  del test[col]

In [192]:
diff = train.columns.difference(test.columns)
print(diff)

Index(['ALBANIA', 'ANGOLA', 'ARMENIA', 'AZERBAIJAN', 'BARBADOS', 'BELARUS',
       'BENIN', 'BERMUDA', 'BHUTAN', 'BOSNIA AND HERZEGOVINA', 'BOTSWANA',
       'BRAZIL', 'CAMEROON', 'CAYMAN ISLANDS', 'CHILE', 'COSTA RICA', 'CYPRUS',
       'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'FAROE ISLANDS', 'FIJI',
       'FRENCH POLYNESIA', 'GUAM', 'GUATEMALA', 'GUINEA', 'GUINEA-BISSAU',
       'IRAN, ISLAMIC REPUBLIC OF', 'JAMAICA',
       'KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF', 'KYRGYZSTAN', 'L', 'LATVIA',
       'LEBANON', 'LIBYAN ARAB JAMAHIRIYA', 'LITHUANIA', 'LUXEMBOURG',
       'MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF', 'MALI', 'MALTA',
       'MAURITIUS', 'MOLDOVA, REPUBLIC OF', 'MOROCCO', 'NAMIBIA',
       'NEW CALEDONIA', 'NIGERIA', 'OMAN', 'PAKISTAN', 'PANAMA', 'PUERTO RICO',
       'QATAR', 'REPUBLIC OF MONTENEGRO', 'REUNION', 'RWANDA', 'SENEGAL',
       'SERBIA', 'SEYCHELLES', 'SIERRA LEONE', 'SLOVENIA', 'TAJIKISTAN',
       'TIBET', 'TUNISIA', 'TURKMENISTAN', 'TURKS AND CAICOS ISLANDS',
       'UGANDA', 'UKRAINE', 'VANUATU', 'VENEZUELA', 'Y', 'ZAMBIA', 'ZIMBABWE',
       'accident'],
      dtype='object')

In [193]:
import numpy as np
a = np.zeros(3000)
for i in diff:
  test[i] = a

In [194]:
diff1 = test.columns.difference(train.columns)
print(diff1)

Index(['GUADELOUPE', 'SAMOA', 'SOLOMON ISLANDS', 'URUGUAY',
       'VIRGIN ISLANDS, U.S.'],
      dtype='object')

In [195]:

import numpy as np
a = np.zeros(60326)
for i in diff1:
  train[i] = a

In [196]:
del test['accident']

In [197]:
X_pred = test.loc[:,:]

In [198]:
sample = pd.read_csv('sample_output.txt', sep=" ", header=None)

In [199]:
def make_model():
    z = L.Input((200,), name="input")
    x = L.Dense(1024 , activation="relu", name="d1")(z)
    x = L.Dense(1024, activation="relu", name="d2")(x)
    #x = L.Dense(100, activation="relu", name="d3")(x)
    p1 = L.Dense(1, activation="sigmoid", name="p1")(x)
    
    model = M.Model(z, p1, name="CNN")
    #model.compile(loss=qloss, optimizer="adam", metrics=[score])
    model.compile(loss='binary_crossentropy', optimizer=tf.keras.optimizers.Adam(lr=0.1), metrics=[tf.keras.metrics.AUC(name='auc'),'accuracy'])
    return model

In [200]:
y = train['accident'].values
del train['accident']
x = train.loc[:,:]

In [201]:
import numpy as np
from sklearn.model_selection import train_test_split

In [202]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42,stratify=y)

In [203]:
import tensorflow as tf
import tensorflow.keras.backend as K
import tensorflow.keras.layers as L
import tensorflow.keras.models as M
import numpy as np
import pandas as pd
import os
import random
import matplotlib.pyplot as plt
from tqdm import tqdm
from PIL import Image
from sklearn.metrics import mean_absolute_error

In [204]:
net = make_model()
history = net.fit(X_train,y_train,batch_size=128, epochs=3,validation_data=(X_test,y_test), verbose=1)

Epoch 1/3
316/316 [==============================] - 11s 34ms/step - loss: 4013.6348 - auc: 0.5094 - accuracy: 0.9486 - val_loss: 0.3240 - val_auc: 0.5000 - val_accuracy: 0.9854
Epoch 2/3
316/316 [==============================] - 10s 33ms/step - loss: 68.2970 - auc: 0.5145 - accuracy: 0.9824 - val_loss: 0.0805 - val_auc: 0.5003 - val_accuracy: 0.9854
Epoch 3/3
316/316 [==============================] - 10s 33ms/step - loss: 0.0923 - auc: 0.4729 - accuracy: 0.9854 - val_loss: 0.0858 - val_auc: 0.5000 - val_accuracy: 0.9854

In [208]:
y_pred = net.predict(X_pred)

In [209]:
c = np.savetxt('output.txt',y_pred, delimiter =', ')